body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: rgba(55, 150, 131, 0.5); }

.nav {
  background-color: #EDF5E1;
  border-bottom: 1px solid #05386B;
  padding: 2rem .5rem 2rem .5rem; }
  .nav .expand {
    color: #379683;
    display: none;
    font-size: 1.5rem; }
  .nav input {
    display: none; }
    .nav input:checked ~ ul {
      max-height: 100rem; }
  .nav a {
    text-decoration: none;
    color: #379683; }
    .nav a:hover {
      color: #05386B; }
    .nav a.active {
      color: #05386B; }
  .nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    transition: max-height .5s;
    overflow-y: hidden; }
  .nav li {
    font-size: 1.5rem;
    display: inline-block;
    cursor: pointer;
    width: 10rem;
    text-align: center; }
    .nav li i {
      color: #379683;
      padding-left: .5rem;
      opacity: 0; }
    .nav li:hover ul {
      display: block;
      opacity: 1; }

.container {
  display: grid;
  grid-gap: 1rem;
  margin-left: auto;
  margin-right: auto; }
  .container .name {
    grid-column: 1 / span 2;
    grid-row: 1; }
    .container .name h1 {
      font-weight: lighter;
      font-size: 3rem; }
      .container .name h1 span {
        color: #05386B;
        font-weight: lighter; }
    .container .name p {
      padding-left: 1rem; }
  .container .list-flex {
    display: flex;
    flex-direction: column; }
    .container .list-flex .list-title {
      font-size: 1.5rem;
      margin-left: 1rem; }
    .container .list-flex .list-item {
      color: #EDF5E1;
      border: 1px solid #05386B;
      margin-top: 1rem;
      padding: 0rem 1rem;
      border-radius: 15px; }
      .container .list-flex .list-item a {
        color: #EDF5E1; }
  .container .resume {
    grid-column: 1 / 1;
    grid-row: 2 / span 1;
    padding-top: 1rem; }
    .container .resume .list-title {
      color: #05386B; }
    .container .resume .list-item {
      background-color: #379683; }
      .container .resume .list-item:hover {
        background-color: rgba(55, 150, 131, 0.5); }
  .container .wide {
    grid-column: 1 / span 3 !important; }
  .container .project {
    padding-top: 1rem;
    grid-column: 2 / span 1;
    grid-row: 2 / span 1; }
    .container .project .list-title {
      color: #05386B; }
    .container .project .list-item {
      background-color: rgba(5, 56, 107, 0.5); }
      .container .project .list-item:hover {
        background-color: rgba(5, 56, 107, 0.3); }

@media (min-width: 1201px) {
  .container {
    grid-template-columns: 1fr 1fr 1fr;
    width: 1170px; } }

@media (max-width: 1200px) {
  .nav .expand {
    display: block; }
  .nav ul {
    max-height: .5rem; }
  .nav li {
    display: block;
    text-align: left;
    padding: .5rem 0 .4rem 0; }
    .nav li i {
      opacity: 1; }
  .container {
    grid-template-columns: 1fr 1fr;
    width: 970px; }
    .container .name h1 {
      font-size: 2rem !important; }
      .container .name h1 span {
        font-size: 2.5rem; }
        .container .name h1 span:before {
          content: '';
          display: block; }
    .container .name p {
      padding-left: 0 !important; } }

@media (max-width: 992px) {
  .nav {
    padding: 1rem .5rem; }
  .container {
    grid-template-columns: 1fr;
    grid-gap: 0;
    width: 750px; }
    .container .list-flex {
      font-size: .8rem;
      margin-bottom: 1rem; }
    .container .project {
      grid-column: 1 / span 1;
      grid-row: 3 / span 1; } }

@media (max-width: 768px) {
  .container {
    width: 90%; } }

/*# sourceMappingURL=style.css.map */